.first{
	background: url(first.jpg);
	height: 200px;
}
.account-div {
	margin-top: 30px;
}
.account-divv{
	padding-top: 70px;

}
.marg-div{
	margin-top: 50px;
}
.avatar_div,.avatar_div1{
	float: left;
}